
body, html {

    background-color: burlywood;
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}



img {
    height: 100px;
    width: 100px;
}
/*.container-fluid,.col-md-12,.row {*/
    /*height:100%;*/
/*}*/



.rb {
   background: url("/images/myrecipiebook.jpg") no-repeat;

    height: 100%;
    background-position: center;
    background-size: contain;
    padding:200px;
    top-margin:100px;
    background-color: burlywood;



}

.navbar{
    margin-bottom: 0px;
}

