<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:replace="template::bootstrapcss" rel="stylesheet" href="#" />
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>
<nav th:replace="template::navigation"></nav>


<img src="/images/jamun.jpg"/>
<h1>Gulab Jamun</h1>

<span>India<img src="/images/indian-flag.png"/></span>


<ul>
    <li>1 cup dry milk powder</li>

<li>3 tablespoons all-purpose flour</li>

<li>2 tablespoons ghee (clarified butter), melted</li>

<li>1/2 teaspoon baking powder</li>

<li>1/2 cup warm milk</li>

<li>1 tablespoon chopped almonds (optional)</li>

<li>1 tablespoon chopped pistachio nuts (optional)</li>

<li>1 tablespoon golden raisins (optional)</li>

<li>1 pinch ground cardamom</li>

<li>1 quart vegetable oil for deep frying</li>

<li>1 1/4 cups white sugar</li>

<li>7 fluid ounces water</li>

<li>1 teaspoon rose water</li>

<li>1 pinch ground cardamom</li>
</ul>



<h3>Directions</h3>



<p>In a large bowl, stir together the milk powder, flour, baking powder, and cardamom. Stir in the almonds, pistachios and golden raisins.</p>
<p>Mix in the melted ghee, then pour in the milk, and continue to mix until well blended.</p>
<p>Cover and let rest for 20 minutes.</p>

<p>In a large skillet, stir together the sugar, water, rose water and a pinch of cardamom.</p>
<p>Bring to a boil, and simmer for just a minute. Set aside.</p>

<p>Fill a large heavy skillet halfway with oil.</p>
<p>Heat over medium heat for at least 5 minutes. Knead the dough, and form into about 20 small balls.</p>
<p>Reduce the heat of the oil to low, and fry the balls in one or two batches. After about 5 minutes, they will start to float, and expand to twice their original size, but the color will not change much.</p>
<p>After the jamun float, increase the heat to medium, and turn them frequently until light golden.</p>
<p>Remove from the oil to paper towels using a slotted spoon, and allow to cool.</p>
<p>Drain on paper towels and allow to cool slightly.</p>



<p>Place the balls into the skillet with the syrup. Simmer over medium heat for about 5 minutes, squeezing them gently to soak up the syrup. Serve immediately, or chill.</p>


<script th:replace="template::bootstrapjs"></script>
</body>
</html>