<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:replace="template::bootstrapcss" rel="stylesheet" href="#" />
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<nav th:replace="template::navigation"></nav>

<img src="/images/jamican-flag.png"/>
<img src="/images/jerk-chicken.jpg"/>
<h1>Jerk Chicken</h1>
Jamaica
<ul>
<li>    1/2 small onion, finely chopped</li>
<li>2 tablespoons soft dark brown sugar</li>
<li>3 tablespoons soya sauce</li>
<li>3 tablespoons red wine vinegar</li>
<li>small handful chopped fresh thyme</li>
<li>1 teaspoon sesame oil</li>
<li>3 cloves garlic, chopped</li>
<li>1/2 teaspoon ground allspice</li>
<li>1 small red chilli, sliced</li>
<li>4 skinless, boneless chicken breast fillets - cut into strips</li>
</ul>
<h2>Directions</h2>
<p>Prep:10min  ›  Cook:15min  ›  Extra time:1hr  ›  Ready in:1hr25min</p>
<p>Combine the onion, brown sugar, soya sauce, vinegar, thyme, sesame oil, garlic, allspice and chilli in the container of a food processor or blender.</p>
<p>Process until smooth.</p>
<p>Place the chicken into a large resealable bag, and pour in 3/4 of the mixture.</p>
<p>Save the remaining mixture for serving.</p>
<p>Squeeze out excess air, and seal.</p>
<p>Marinate in the refrigerator for at least one hour.</p>
<p>Preheat your oven's broiler without the tray.</p>
<p>Remove chicken from the bag, and discard marinade.</p>
<p>Place chicken on tray and broil for 10 to 15 minutes, turning once to ensure even cooking.</p>
<p>Heat reserved 1/4 marinade in a small pan to make a sauce and pour over chicken when serving.</p>

<script th:replace="template::bootstrapjs"></script>
</body>
</html>