<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:replace="template::bootstrapcss" rel="stylesheet" href="#" />
</head>
<body>
<nav th:replace="template::navigation"></nav>
Pumpkin Rice Noodles
Taiwan
Serves 1 | Prep Time: 15 minutes | Cook Time: 5 minutes
Report this ad
Ingredients:
100g (3.5 oz) dried rice vermicelli
2 tablespoons oil
2 cloves garlic, minced
100g (3.5 oz) ground pork
100g (3.5 oz) pumpkin (or kabocha), diced
½ cup water
2 tablespoons soy sauce
1 tablespoon sweet soy sauce
3 dashes white pepper

Method:
1. Soak the dried rice vermicelli in warm water for about 20 minutes. Drain the water and set aside.
2. Heat up the oil in a wok and add the garlic. Stir-fry the garlic until aromatic before adding the ground pork and pumpkin.
3. Add the water, soy sauce, sweet soy sauce, white pepper and bring to boil.
4. Add the rice vermicelli into the wok, stir to combine well with the ingredients in the wok. Continue to stir fry until the vermicelli is cooked through and soaked up the sauce. Dish out and serve immediately.

<script th:replace="template::bootstrapjs"></script>
</body>
</html>