<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head >
    <meta charset="UTF-8"/>
    <title>Recipe Book Index</title>
    <link th:fragment="bootstrapcss" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>
<body>
<nav th:fragment="navigation" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">RB</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">home</a></li>
            <li><a href="/injera">Injera</a></li>
            <li><a href="/crab">Crabby</a></li>
            <li><a href="/golab">Golab-Jamun</a></li>
            <li><a href="/jerk">Jerk-Chicken</a></li>
            <li><a href="/pumkin">Pumkin-Rice-Noodles</a></li>
            <li><a href="/bara">Bara</a></li>
            <li><a href="/croque">Croque-Madame</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </div>
</nav>

<script  th:fragment="bootstrapjs" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>